* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans serif';
}

:root {
    --black: black;
    --white: white;
    --accentcolor: hsl(93, 100%, 58%);
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.border {
    border: 1px solid black;
}

.invert {
    filter: invert(1);
}


.hidden {
    display: none;
}

h2 {
    font-size: 30px;
}

img {
    height: 30px;
}

a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
}

.topBar {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.topBar img:hover {
    filter: invert(0.3);
    cursor: pointer;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    gap: 20px;
    padding: 20px 40px;
}

.card {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--accentcolor);
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px;
}

.card button {
    display: flex;
    border-radius: 40px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    gap: 10px;
    font-size: 16px;
    color: black;
    background-color: white;
    box-shadow: 0px 1px 1px 0px;
}

.card button:hover {
    border: 2px solid white;
    filter: invert(1);
    cursor: pointer;
}

.card button img {
    height: 15px;
}

.disclaimer {
    display: flex;
    padding: 10px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
}

@media screen and (max-width:700px) {

    .cardsContainer {
        justify-content: center;
    }
}